* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(247, 247, 247, 0.936);
}

.crotch1 {
    background-color: rgba(255, 255, 251, 0.942);
    display: flex;
    flex-direction: row;
    height: 63px;
}

#pictureLogo {
    width: 50px;
    height: 50px;
    margin-left: 23px;
    margin-top: 7px;
}

.text1 {
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 14px;
    position: relative;
    left: -42px;
    margin-left: 28px;
    letter-spacing: 0.2px;
    margin-top: 7px;
    color: black;
    text-decoration: none;
    display: inline-block;
}

#search {
    height: 27px;
    position: relative;
    top: 18px;
    padding: 6px;
    left: 400px;
}

#SearchPicture {
    width: 14px;
    height: 15px;
    position: relative;
    top: 25px;
    left: 380px;
}

#pictureBasket {
    width: 20px;
    height: 20px;
}

#pictureMan {
    width: 20px;
    height: 20px;
    margin-top: 21.5px;
    margin-left: 481px;
}

.orangeText {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 63px;
    background: #ff9500;
    background: linear-gradient(0deg, rgba(255, 149, 0, 1) 0%, rgba(255, 181, 77, 1) 50%, rgba(255, 149, 0, 1) 100%);
}

.text2 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.5px;
    word-spacing: 5px;
}

#text3 {
    font-size: 30px;
    font-weight: 600;
    margin-left: 36px;
    margin-top: 11.5px;
}

#text4 {
    font-size: 18.7px;
    margin-top: 20px;
    margin-left: 60%;
}

.himnakan {
    background: #e0e0e0;
    background: linear-gradient(0deg, rgba(224, 224, 224, 0.81) 0%, rgba(255, 255, 255, 1) 100%);
    margin-top: 9px;
    height: 3627px;
}

.select1 {
    position: relative;
    top: 150px;
    height: 45px;
    width: 263px;
    left: 55px;
    border-radius: 10px;
    box-shadow: -5px 4px 10px rgb(0, 0, 0);
}

#select2 {
    top: 28px;
}

#input1 {
    position: relative;
    top: 80px;
    left: 250px;
    border-radius: 50px;
    width: 100px;
    box-shadow: 0 4px 4px black;
}

#input2 {
    position: relative;
    top: 61px;
    border-radius: 50px;
    width: 100px;
    left: 60px;
    box-shadow: 0 4px 4px black;
}

#input1:hover {
    padding: 5px;
}

#input2:hover {
    padding: 5px;
}

.select4 {
    position: relative;
    top: 50px;
    height: 45px;
    width: 263px;
    left: 55px;
    border-radius: 10px;
    box-shadow: -5px 4px 10px rgb(0, 0, 0);
}

.himnakaniDzaxMas {
    position: relative;
    top: 125px;
    width: 350px;
    height: 500px;
    background-color: rgb(23, 67, 163);
}

.text18 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    top: 60px;
    left: 56px;
    text-shadow: -5px 4px 10px rgb(255, 255, 255);
}

.pricing {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 55px;
    left: 59%;
    transform: translateX(-50%);
    width: 150px;
}

.text11 {
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16.5px;
    color: rgb(133, 201, 202);
}

.himnakanNkarneriMas {
    width: 1160px;
    height: 4000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #ffffff;
    gap: 50px;
    position: relative;
    left: 365px;
    top: -375px;
    border: solid #0b5e6c 2px;
}

.nkarneriDiver {
    height: 479px;
    background-color: rgb(247, 247, 247);
    display: inline-block;
    border: 3px solid rgba(100, 100, 100, 0.418);
    border-radius: 3px;
    position: relative;
    top: 50px;
    left: 3px;
    width: 289.9px;
}

.himnakanPicturNer {
    width: 285px;
    height: 280px;
    background: #ffffff;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(212, 212, 212, 0.98) 100%);
}

.text14 {
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    margin-left: 25px;
    line-height: 35px;
}

.text15 {
    font-size: 13px;
}

.text17 {
    font-size: 31px;
    letter-spacing: 1px;
}

.gniKoxiBary {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.5px;
    position: relative;
    top: -3px;
    left: 10px;
}

.orange-botton2 {
    width: 234px;
    height: 39px;
    background: #ff9500;
    background: linear-gradient(0deg, rgb(0, 195, 255) 0%, rgb(255, 255, 255) 50%, rgba(0, 195, 255) 100%);
    border-radius: 3px;
    border: none;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.orange-botton2:hover {
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(0, 6, 130) 50%, rgba(0, 195, 255) 100%);
}

.crotch1 {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: white;
    width: 100%;
}

.orangeText {
    position: fixed;
    top: 63px;
    z-index: 1000;
}

body {
    padding-top: 118px;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.swiper-slide img {
    display: block;
    width: 250px;
    height: 250px;
    object-fit: cover;
    position: relative;
    top: 50px;
    left: 50px;
    box-shadow: -5px -4px 10px rgba(255, 176, 98, 0.773);
}

.button {
    width: 234px;
    height: 39px;
    background: #ff9500;
    background: linear-gradient(0deg, rgba(255, 149, 0, 1) 0%, rgba(255, 181, 77, 1) 50%, rgba(255, 149, 0, 1) 100%);
    border-radius: 3px;
    border: none;
    position: relative;
    top: -75px;
    left: 25px;
    color: white;
    font-size: 20px;
    box-shadow: -5px 4px 10px white;
}

.p1 {
    position: relative;
    top: -200px;
    left: 20px;
    color: #ff9500;
    font-size: 25px;
    text-shadow: -5px 4px 10px white;
}

.p2 {
    position: relative;
    top: -100px;
    left: 20px;
    font-size: 40px;
    color: #ff9500;
    text-shadow: -5px 4px 10px white;
}

.swiper-mySwiper {
    position: relative;
    top: 133px;
}

.shopcart {
    position: absolute;
    top: -3px;
    left: 80px;
}

.signup {
    position: relative;
    top: 25px;
    left: 5px;
}

.button2 {
    position: relative;
    top: 20px;
    left: 458px;
    width: 50px;
    height: 29px;

}

.button2:hover {
    animation: move 7s infinite;
    animation-duration: 2s;
    animation-direction: alternate;
}

@keyframes move {
    form {
        width: 50px;
    }

    to {
        width: 100px;
    }
}

.button:hover {
    animation: move1 7s infinite;
    animation-duration: 2s;
    animation-direction: alternate;
}

@keyframes move1 {
    form {
        width: 80px;
    }

    to {
        width: 100px;
    }
}

.orange-botton2:hover {
    animation: move2 7s infinite;
    animation-duration: 2s;
    animation-direction: alternate;
}

@keyframes move2 {
    form {
        width: 90px;
    }

    to {
        width: 290px;
    }
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div2 {
    position: relative;
    top: 25px;
    left: 550px;
}