<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Fashion Shop Main</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/styles1.css">
</head>

<body>
  <img src="../images/image copy.png" alt="Clothes Left" class="corner-img left">
  <img src="../images/image copy 2.png" alt="Clothes Right" class="corner-img right">

  <div class="container">
    <h1>Welcome to My Fashion Shop</h1>
    <p>Click below to enter</p>
    <a href="./index.html" id="enterBtn">Enter Shop</a>
  </div>

  <script src="../scripts/script1.js" defer></script>
</body>

</html>