<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion Shop</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/card.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />

</head>

<body>
    <div class="crotch1">

        <img src="../images/Vibrant orange swoosh logo design (1).png" alt="picture" id="pictureLogo">

        <a href="#">
            <p class="text1">Home</p>
        </a>
        <a href="#">
            <p class="text1">Products</p>
        </a>
        <a href="#">
            <p class="text1">Contact</p>
        </a>
        <a href="#">
            <p class="text1">About us</p>
        </a>

        <input type="text" name="text" placeholder="search" id="search">
        <label for="search"></label>
        
        <div class="div2">
            <img src="../images/shopping-basket.png" alt="picture" id="pictureBasket">
            <p class="shopcart">Shoping Cart</p>
        </div>

        <a href="./signup.html"><img src="../images/user (2).png" alt="picture" id="pictureMan"></a>
        <p class="signin">Sign up</p>

    </div>

    <div class="orangeText">

        <p class="text2" id="text3">Our best offers</p>
        <p class="text2" id="text4">Discover new products every day</p>

    </div>

    <div class="swiper-mySwipericverev"></div>

    <div class="swiper-mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkIQxui8-fTNsuCqpdd4CD_oqdNepYIm9g7g&s"
                    alt="picture1">
                <p class="p1">School bag for boys</p>
                <p class="p2">18,63$</p>
                <button class="button">BUY</button>
            </div>
            <div class="swiper-slide">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHozFIozPWti32AUNOPS8eUJTgu4z0ZKQ20Q&s"
                    alt="picture2">
                <p class="p1">Kapraun Navy Blue Lamp Leather Nylon Puffer Vest Handmade Europe Men’s Size 40R</p>
                <p class="p2">77.35$</p>
                <button class="button">BUY</button>
            </div>
            <div class="swiper-slide">
                <img src="https://s.list.am/f/584/84966584.webp" alt="picture3">
                <p class="p1">Armenia national team jersey 24-25 home</p>
                <p class="p2">40.05$</p>
                <button class="button">BUY</button>
            </div>
            <div class="swiper-slide">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPp-ApIGl9w7Yb3h62zv9H6VgVxC5rlxTPbA&s"
                    alt="picture4">
                <p class="p1">Alcott Men's Windproof Lightweight Long Sleeve Hooded Windbreaker Summer Jacket</p>
                <p class="p2">24.54$</p>
                <button class="button">BUY</button>
            </div>
            <div class="swiper-slide">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQR8iba8DnKz7Gw4MSQv8yeRmdybLf5nRBa0A&s"
                    alt="picture5">
                <p class="p1">Ring with diamonds from white gold 585 proof art</p>
                <p class="p2">68.03$</p>
                <button class="button">BUY</button>
            </div>
            <div class="swiper-slide">
                <img src="https://cdn.assets.prezly.com/5b79cc3a-6778-4bc7-a620-346a387dc95d/aspire-vero_16-03.jpg"
                    alt="picture6">
                <p class="p1">Acer Aspire Lite</p>
                <p class="p2">600$</p>
                <button class="button">BUY</button>
            </div>
            <div class="swiper-slide">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTJyZ_FYi7CIwMvdNOor9AVR-i7sWJRy_nqQ&s"
                    alt="picture7">
                <p class="p1">True Classic Black Long Sleeve Knit Shirt</p>
                <p class="p2">14.99$</p>
                <button class="button">BUY</button>
            </div>
            <div class="swiper-slide">
                <img src="https://camp.am/wp-content/uploads/2024/01/belaii-fajkssm20002-rot-a.jpg" alt="picture8">
                <p class="p1">Trespass Lorina, Pink</p>
                <p class="p2">66.49$</p>
                <button class="button">BUY</button>
            </div>
            <div class="swiper-slide">
                <img src="https://vivaelectronics.am/Api/FetchImgBinBySKU/8135/%D5%B4%D5%B8%D5%B6%D5%AB%D5%BF%D5%B8%D6%80-samsung-ls24r358fzixci.png"
                    alt="picture9">
                <p class="p1">Samsung LF27T350FHNXZA</p>
                <p class="p2">149.99$</p>
                <button class="button">BUY</button>
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>

    <div class="himnakan">

        <div class="himnakaniDzaxMas">

            <select name="select" class="select1" id="select2">
                <option value="all">All</option>
                <option value="men's clothing">Men</option>
                <option value="women's clothing">women</option>
                <option value="jewelery">Jewelery</option>
                <option value="electronics">Electronics</option>
            </select>

            <select name="select" class="select4" id="select5">
                <option value="All">All</option>
                <option value="min-max">min-max</option>
                <option value="max-min">max-min</option>
                <option value="a-z">a-z</option>
                <option value="z-a">z-a</option>
            </select>
            <div class="div1">
                <p class="text18">pricing</p>

                <label for="input1"></label>
                <input type="number" name="number" class="pricing" id="input1" placeholder="max-price">
                <label for="input2"></label>
                <input type="number" name="number" class="pricing1" id="input2" placeholder="min-price">

            </div>
        </div>

        <div class="himnakanNkarneriMas"></div>

    </div>

    <div class="AddToCardEj">

        <div class="cardTitleDiv">
            <p class="CardTitle">your card</p>
        </div>
        <!-- <a href="./CardFullscreen.html"><img src="./picture/fullscreen (1).png" alt="picture" class="CardImg Fullscreen"></a> -->
        <img src="../images/image-removebg-preview.png" alt="picture" class="CardImg Close">
        <div class="cartProducts"></div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>

    <script src="../scripts/script.js"></script>
    <script src="../scripts/card.js"></script>
</body>